.fundo{
    background-color: black;
}
.texto{
    color: white;
}

.textoLateral{
    color: white;
}

.retangulo {
    width: 400px;
    height: 650px;
    border: 2px solid #137DC5;
    border-radius: 10px;
}
.retangulo:hover{
    transition-delay: 150ms;
    box-shadow:  -29px 29px 58px #137bc1,
    29px -29px 58px #1380c9;
}
.logoMarca{
    font-family: 'DM Sans', sans-serif;
    color: #137DC5;
    text-align: left;
}