.fundo{
    background-color: black;
}
.texto{
    color: white;
}

.textoLateral{
    color: white;
}

.retangulo {
    width: 400px;
    height: 650px;
    border: 2px solid #3297da;
    border-radius: 10px;
}
.retangulo:hover{
    transition-delay: 50ms;
    box-shadow:  -29px 29px 58px #137bc1,
    29px -29px 58px #1380c9;
}
.logoMarca{
    font-family: 'DM Sans', sans-serif;
    color: #3297da;
    text-align: left;
}

.navbar-expand-lg.navbar.bg-body-tertiary.fixed-top {
    height: 80px;
    background-color: #3297da;
  }

.navbar-brand {
    font-size: 40px;
}

.nav-item {
    font-size: 20px;
}
.nav-link {
    color: #3297da;
}

.nav-link:hover {
    color: #1596ec;
}
.bs-navbar-color {
    background-color: #3297da;
}

.offcanvas-title {
    color: #137bc1;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #137bc1;
}

.titleInfo {
    color: white;
}